.logo {
  height: 32px;
  text-align: center;
  background: -webkit-linear-gradient(
    left,
    #ffffff,
    #ff0000 6.25%,
    #ff7d00 12.5%,
    #ffff00 18.75%,
    #00ff00 25%,
    #00ffff 31.25%,
    #0000ff 37.5%,
    #ff00ff 43.75%,
    #ffff00 50%,
    #ff0000 56.25%,
    #ff7d00 62.5%,
    #ffff00 68.75%,
    #00ff00 75%,
    #00ffff 81.25%,
    #0000ff 87.5%,
    #ff00ff 93.75%,
    #ffff00 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: large;
  background-size: 200% 100%;
  animation: masked-animation 5s infinite linear;
  margin: 16px 0px;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100%, 0;
    }
}

